body{
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    background-color: #FAFAF5;
    color: #121212;
}

.navbar{
    background-color: #121212;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    z-index: 3;
}
.navbar svg{
    width: 2em;
    fill: white;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
.navbar ul li{
    transition: transform 0.5s ease-in-out;
}
.navbar ul li:hover{
    transform: scale(1.2);
}
.navbar a{
    position: relative;
    color: #FAFAF5;
    text-decoration: none;
    padding: 5px;
}
.navbar a::before{
    position: absolute;
    content: "";
    width: 0%;
    height: 5%;
    background-color: #FAFAF5;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}
.navbar a:hover::before{
    width: 100%;
}
#active{
    position: relative;
    padding: 5px;
}
#active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 5%;
    background-color: #FAFAF5;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}
#active:hover::before{
    width: 25%;
}
/* Összefoglalók felé tegye a vonalat */
.biglink::before {
    top: 0;
}
.dropdownOne{
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: 10em;
    padding: 0.5em 2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #121212;
    z-index: 1;
}
.navitem:hover .dropdownOne{
    display: flex;
}
/* Dropdownmenu active eleme mellé tegye a vonalat */
.dropdownOne #active::before{
    width: 1%;
    height: 100%;
    background-color: red;
    transition: height 0.5s ease-in-out;
}
.dropdownOne #active:hover::before{
    height: 40%;
}
.dropdownOne a::before{
    background-color: red;
}

#albert{
    background-image: url(/1.\ Feladat/images/szentgyorgyi_albert.jpg);
    background-position: 25%;
}
#janos{
    background-image: url(/1.\ Feladat/images/neumann_janos.jpg);
    background-position: 50%;
}
#leo{
    background-image: url(/1.\ Feladat/images/leo_Szilard.jpg);
}
#pal{
    background-image: url(/1.\ Feladat/images/Erdos_Pal.jpg);
    background-position: 50%;
}
#anyos{
    background-image: url(/1.\ Feladat/images/jedlik_anyos.jpg);
}
#alfred{
    background-image: url(/1.\ Feladat/images/Renyi_Alfred.jpg);
}
#ignac{
    background-image: url(/1.\ Feladat/images/semmelweis_ignac.jpg);
}
#karoly{
    background-image: url(/1.\ Feladat/images/zipernowsky.jpg);
    background-position: 0 30%;
}
#gyorgy{
    background-image: url(/1.\ Feladat/images/Hevesy_Gyorgy.png);
}
.photo{
    display: flex;
    justify-content: end;
    margin: auto;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
.line{
    width: 100vw;
    height: 1vh;
    background-color: red;
    margin-bottom: 5%;
}

.list{
    display: flex;
}
.list div{
    flex-grow: 5;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e8e8e8;
}
.left ol{
    list-style-type: none;
    padding: 0;
    line-height: 225%;
}
.left ol li a{
    color: #dc143c;
    text-decoration: none;
}
.left ol li{
    transition: transform 0.5s ease-in-out;
}
.left ol li:hover{
    color: #dc143c86;
    text-decoration: underline;
    transform: scale(1.2);
}
.left ol li:active{
    color: #ff0033;
    transform: scale(1.1);
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-left: 5px solid red;
    box-shadow: -2px 2px 10px grey;
    width: 50%;
}


h1{
    letter-spacing: 3px;
    margin: 5em;
    color: white;
    width: 10em;
    height: 5em;
    color:#FAFAF5;
}


.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
    font-size: 150%;
    box-shadow: 2px 2px 100px grey;
}
p{
    letter-spacing: 1.5px;
    line-height: 200%;
    margin: 5%;

}
.divider{
    margin: auto;
    border: 1px solid #121212;
    width: 75%;
}
.divider:last-of-type{
    margin-bottom: 5%;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 100vw;
    margin-top: 3%;
    background-color: #121212;
    color: #FAFAF5;
}
footer h2{
    margin: 0;
    padding: 0;
}